# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# DB / local data
*.db
*.sqlite
trading_journal

# Cache
.cache/
